/* Main Stylesheet */

@import "grid"

// Colors
$black: rgb(68,68,68)
$white: rgb(255,255,255)
$blue:  rgb(135,206,250)
$pink:  rgb(255,211,248)

// Mixins
@mixin border-radius($default-radius: 6px)
  -webkit-border-radius: $default-radius
  -moz-border-radius: $default-radius
  border-radius: $default-radius

// Font Stylings
h1
  font-family: 'Roboto Slab', serif

a
  color: $white
  text-decoration: none
  &:hover
    color: $blue

// Header
header
  text-align: center
  display: block

// Content
*, *:before, *:after 
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html 
  background: url(../assets/images/geometry.png) repeat
  color: $black

form
  text-align: center
  padding: 1em
  background-color: $pink
  @media screen and (min-width: 320px) and (max-width: 480px) 
    padding: 0


label
  color: $black
  display: block
  padding: 1em 0em

section
  padding: 2em
  margin: 2em 0
  background-color: rgba($blue, 0.5)
  @include border-radius
  article
    border-bottom: 1px dashed $black
  article:last-child
    clear: both
  header
    width: 25%
    float: left
    margin-right: 1em
    h2
      margin-top: 0em
      text-align: left
    @media screen and (min-width: 320px) and (max-width: 480px) 
      width: 100%    

aside
  @include border-radius
  text-align: center
  margin-bottom: 2em
  

// Button
button
  display: block
  padding: 10px 10px
  margin: 0 auto
  width: 80%
  background-color: darken($pink, 25%)
  border: 0
  @include border-radius
  &:hover
    background-color: $blue
    color: $black

// Footer
footer
  text-align: center
  p
    padding: 1em
    float: right

