/* Main Stylesheet */
/******************************************************************
GRID
******************************************************************/
/* line 5, ../sass/_grid.scss */
.onecol {
  width: 5.801104972%;
}

/* 4.85%;  } /* grid_1  */
/* line 6, ../sass/_grid.scss */
.twocol {
  width: 14.364640883%;
}

/* 13.45%; } /* grid_2  */
/* line 7, ../sass/_grid.scss */
.threecol {
  width: 22.928176794%;
}

/* 22.05%; } /* grid_3  */
/* line 8, ../sass/_grid.scss */
.fourcol {
  width: 31.491712705%;
}

/* 30.75%; } /* grid_4  */
/* line 9, ../sass/_grid.scss */
.fivecol {
  width: 40.055248616%;
}

/* 39.45%; } /* grid_5  */
/* line 10, ../sass/_grid.scss */
.sixcol {
  width: 48.618784527%;
}

/* 48%;    } /* grid_6  */
/* line 11, ../sass/_grid.scss */
.sevencol {
  width: 57.182320438000005%;
}

/* 56.75%; } /* grid_7  */
/* line 12, ../sass/_grid.scss */
.eightcol {
  width: 65.74585634900001%;
}

/* 65.4%;  } /* grid_8  */
/* line 13, ../sass/_grid.scss */
.ninecol {
  width: 74.30939226%;
}

/* 74.05%; } /* grid_9  */
/* line 14, ../sass/_grid.scss */
.tencol {
  width: 82.87292817100001%;
}

/* 82.7%;  } /* grid_10 */
/* line 15, ../sass/_grid.scss */
.elevencol {
  width: 91.436464082%;
}

/* 91.35%; } /* grid_11 */
/* line 16, ../sass/_grid.scss */
.twelvecol {
  width: 99.999999993%;
}

/* 100%;   } /* grid_12 */
/* line 19, ../sass/_grid.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  position: relative;
  margin-left: 2.762430939%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* line 19, ../sass/_grid.scss */
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    width: 99.99999999993%;
  }
}

/* line 27, ../sass/_grid.scss */
#wrapper {
  width: 80%;
  margin: 0 auto;
  min-width: 50em;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* line 27, ../sass/_grid.scss */
  #wrapper {
    min-width: 91.99999999993%;
  }
}

/* line 36, ../sass/_grid.scss */
.row {
  width: 100%;
  margin-left: 0;
}

/* line 41, ../sass/_grid.scss */
.first {
  margin-left: 0;
}

/* line 45, ../sass/_grid.scss */
.last {
  float: right;
}

/* line 49, ../sass/_grid.scss */
.center {
  margin: 0 auto;
}

/* line 18, ../sass/style.sass */
h1 {
  font-family: "Roboto Slab", serif;
}

/* line 21, ../sass/style.sass */
a {
  color: white;
  text-decoration: none;
}
/* line 24, ../sass/style.sass */
a:hover {
  color: lightskyblue;
}

/* line 28, ../sass/style.sass */
header {
  text-align: center;
  display: block;
}

/* line 33, ../sass/style.sass */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 38, ../sass/style.sass */
html {
  background: url(../assets/images/geometry.png) repeat;
  color: #444444;
}

/* line 42, ../sass/style.sass */
form {
  text-align: center;
  padding: 1em;
  background-color: #ffd3f8;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* line 42, ../sass/style.sass */
  form {
    padding: 0;
  }
}

/* line 50, ../sass/style.sass */
label {
  color: #444444;
  display: block;
  padding: 1em 0em;
}

/* line 55, ../sass/style.sass */
section {
  padding: 2em;
  margin: 2em 0;
  background-color: rgba(135, 206, 250, 0.5);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
/* line 60, ../sass/style.sass */
section article {
  border-bottom: 1px dashed #444444;
}
/* line 62, ../sass/style.sass */
section article:last-child {
  clear: both;
}
/* line 64, ../sass/style.sass */
section header {
  width: 25%;
  float: left;
  margin-right: 1em;
}
/* line 68, ../sass/style.sass */
section header h2 {
  margin-top: 0em;
  text-align: left;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* line 64, ../sass/style.sass */
  section header {
    width: 100%;
  }
}

/* line 74, ../sass/style.sass */
aside {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 2em;
}

/* line 81, ../sass/style.sass */
button {
  display: block;
  padding: 10px 10px;
  margin: 0 auto;
  width: 80%;
  background-color: #ff54e4;
  border: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
/* line 89, ../sass/style.sass */
button:hover {
  background-color: lightskyblue;
  color: #444444;
}

/* line 94, ../sass/style.sass */
footer {
  text-align: center;
}
/* line 96, ../sass/style.sass */
footer p {
  padding: 1em;
  float: right;
}
