h1{
	font-size: 50px;
	font-family:"Helvetica neue";
	text-align: center;	
}

.thoughts .first_paragraph p{
	padding-left:20px;
	padding-right: 20px;
	padding-bottom:0px;
}

.the_truth{
	opacity:0.3;
	color:red;
	font-size:12px;
}

.the_feels{
	background-color: orange;
	display:inline-block;
	/*padding:0 0 0 15px;*/
	border:solid black 5px;
	width:300px;
	height:300px;
	position: absolute;
	text-align: center;
	margin-top: 70px;
	margin-left: 20px;
}

.thoughts{
	display: inline-block;
	width:300px;
	border:solid 5px black;
	height:300px;
	text-align: center;
	margin-top:70px;
}

.surprise{
	background:-webkit-linear-gradient(top, #2F2727, #1a82f7);
	display:inline-block;	
	height:300px;
	width:300px;
	border:solid black 5px;
	float:left;
	margin:70px 20px 0 45px;
	color:white;
	text-align: center;
}

.success{
	background:-webkit-radial-gradient(center, green, #cc3247);
	clear: all;
	float:right;
	position:absolute;
	border:solid black 5px;
	height:300px;
	width:300px;
	margin:0 0 0 350px;
	text-align: center;
	display: inline-block;
	margin-top:70px;

}

.sweet{
	font-family:"Kozuka Gothic Pro";
	font-size:48px;
	line-height: 45px;

}

.totally{
	line-height:4px;
}

.three_box{
	margin: 40px 10px 0 213px;
}

.check{
	height:300px;
	width:300px;
	border:solid black 5px;
	display:inline-block;
	margin:0 20 0 0;
	background-color:gray;
	line-height:0px;
	padding-top:20px;
	-webkit-animation:changing_color 5s infinite;
}

.check p{
	font-family:"Franklin Gothic Medium";
	text-shadow:10px 10px #0f3d61;
	color:yellow;
	text-align: center;
	font-size: 150px;
	line-height:0px;
}

@-webkit-keyframes changing_color{
	0%{background:yellow;}
	25%{background:red;}
	50%{background:blue;}
	75%{background:green;}
	100%{background:yellow;}
}

.check h1{
	color:white;
}

.two{
	border:solid black 5px;
	height:300px;
	width:300px;
	display:inline-block;
	margin-left:370px;
	margin-top:40px;
	margin-right:30px;
	float:left;

}

.box{
	border:solid black 5px;
	height:300px;
	width:300px;
	display:inline-block;
	margin-top: 40px;
}

input.email{
	display: inline-block;
	width:210px;
	font-family: "Hapna Mono";
}

.button{
	text-align: center;
	width:90px;
	height:90px;
	margin-top: 10px;
	margin-left:100px;
	display: inline-block;
	box-shadow: 2px 4px 2px 4px blue;
	border-radius: 100%;
	background:-webkit-radial-gradient(left top,  blue, white);
	text-decoration: none;
}

.button:hover{
	box-shadow: none;
	background:-webkit-radial-gradient(bottom right,  blue, white);
	margin-top: 17px;
	border:solid 2px blue;
}

.button p{
	font-family: "Futura";
	font-size: 20px;
	text-align: center;
	color:white;
	margin-top: 30px;
}

.two{
	text-align: center;
}

.checkboxes{
	text-align: center;
	margin-left:10px;
}

.adventure{
	margin-left: 170px;
	margin-top: 60px;
}
